.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 30px;
}

.nav a {
  padding: 15px 0;
}

.nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--neutral-color-1);
  transition: .3s ease-out;
}

.nav a:hover::after {
  width: 100%;
}

@media(max-width: 500px) {
  #logo {
    width: 90px;
  }
}