.projects {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  gap: 30px;
}

.projects-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  text-align: center;
}

.project-item h2 {
  margin-top: 15px;
}

.project-item h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: var(--neutral-color-2);
  margin: 10px auto 15px auto;
}

@media(max-width: 600px) {
  .projects-items {
    grid-template-columns: 1fr;
  }

  .project-item img {
    height: 220px;
  }
}