.social-medias-bg {
  padding: 60px 30px;
  box-sizing: border-box;
}

.social-medias {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.social-medias h4 {
  text-align: center;
}

.social-medias h4::before, .social-medias h4::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: var(--neutral-color-2);
  margin: 0 auto;
}

.social-medias h4::before {
  margin-bottom: 5px;
}

.social-medias h4::after {
  margin-top: 5px;
}

.social-medias ul {
  display: flex;
  align-items: center;
  gap: 120px;
}

@media(max-width: 700px) {
  .social-medias ul {
    flex-flow: column;
    gap: 60px;
  }
}